<launch>

  <arg name="chain_name" />
  <arg name="chain_type" />
  <arg name="input_topic" />
  <arg name="aggregation_topic" />

  <arg name="limited_topic" default="limited/$(arg input_topic)" />
  <arg name="transport_topic" default="$(arg input_topic)/data" />
  <arg name="transport_ctrl" default="$(arg input_topic)/link" />
  <arg name="rate_ctrl" default="$(arg input_topic)/rate" />

  <node pkg="opportunistic_link" type="rate_controller.py" name="$(arg chain_name)_limiter" output="screen" >
    <param name="input_topic_name" type="string" value="$(arg input_topic)" />
    <param name="topic_type" type="string" value="$(arg chain_type)" />
    <param name="output_topic_name" type="string" value="$(arg limited_topic)" />
    <param name="rate_ctrl" type="string" value="$(arg rate_ctrl)" />
  </node>

  <node pkg="opportunistic_link" type="link_startpoint.py" name="$(arg chain_name)_startpoint" output="screen" >
    <param name="input_topic_name" type="string" value="$(arg limited_topic)" />
    <param name="topic_type" type="string" value="$(arg chain_type)" />
    <param name="transport_data" type="string" value="$(arg transport_topic)" />
    <param name="transport_ctrl" type="string" value="$(arg transport_ctrl)" />
  </node>

  <node pkg="teleop_mux_demux" type="message_serializer.py" name="$(arg chain_name)_serializer" output="screen" >
    <param name="input_topic_name" type="string" value="$(arg transport_topic)" />
    <param name="topic_type" type="string" value="$(arg chain_type)" />
    <param name="aggregation_topic" type="string" value="$(arg aggregation_topic)" />
  </node>

</launch>
