<launch>

  <arg name="chain_name" />
  <arg name="chain_type" />
  <arg name="input_topic" />
  <arg name="link_namespace" />
  <arg name="relay_namespace" />
  <arg name="aggregated_topic" />

  <arg name="output_topic" default="$(arg relay_namespace)/$(arg input_topic)" />
  <arg name="transport_topic" default="$(arg link_namespace)/$(arg input_topic)/data" />
  <arg name="transport_ctrl" default="$(arg input_topic)/link" />

  <node pkg="opportunistic_link" type="link_endpoint.py" name="$(arg chain_name)_endpoint" output="screen" >
    <param name="output_topic_name" type="string" value="$(arg output_topic)" />
    <param name="topic_type" type="string" value="$(arg chain_type)" />
    <param name="transport_data" type="string" value="$(arg transport_topic)" />
    <param name="transport_ctrl" type="string" value="$(arg transport_ctrl)" />
  </node>

</launch>
