<launch>

  <arg name="aggregated_topic" default="Aggregated" />
  <arg name="link_namespace" default="link" />
  <arg name="relay_namespace" default="relay" />

  <!-- Set up the message demulitplexer/deserializer -->

  <node pkg="teleop_mux_demux" type="message_demultiplexer.py" name="demultiplexer" output="screen" >
    <param name="aggregated_topic" type="string" value="$(arg aggregated_topic)" />
    <param name="republish_namespace" type="string" value="$(arg link_namespace)" />
  </node>

  <!-- Set up link endpoint for joint states -->

  <include file="$(find teleop_launch)/launch/link_end_chain.launch">
    <arg name="chain_name" value="jointstates" />
    <arg name="chain_type" value="sensor_msgs/JointState" />
    <arg name="input_topic" value="joint_states" />
    <arg name="relay_namespace" value="$(arg relay_namespace)" />
    <arg name="link_namespace" value="$(arg link_namespace)" />
  </include>

  <!-- Set up link endpoint for base laser scan -->

  <include file="$(find teleop_launch)/launch/link_end_chain.launch">
    <arg name="chain_name" value="basescan" />
    <arg name="chain_type" value="sensor_msgs/LaserScan" />
    <arg name="input_topic" value="base_scan" />
    <arg name="relay_namespace" value="$(arg relay_namespace)" />
    <arg name="link_namespace" value="$(arg link_namespace)" />
  </include>

  <!-- Set up link endpoint for Kinect camera images -->

  <include file="$(find teleop_launch)/launch/link_end_chain.launch">
    <arg name="chain_name" value="kinectcam" />
    <arg name="chain_type" value="sensor_msgs/Image" />
    <arg name="input_topic" value="head_mount_kinect/rgb/image_color" />
    <arg name="relay_namespace" value="$(arg relay_namespace)" />
    <arg name="link_namespace" value="$(arg link_namespace)" />
  </include>

  <!-- Set up link endpoint for Kinect camera info -->

  <include file="$(find teleop_launch)/launch/link_end_chain.launch">
    <arg name="chain_name" value="kinectcaminfo" />
    <arg name="chain_type" value="sensor_msgs/CameraInfo" />
    <arg name="input_topic" value="head_mount_kinect/rgb/camera_info" />
    <arg name="relay_namespace" value="$(arg relay_namespace)" />
    <arg name="link_namespace" value="$(arg link_namespace)" />
  </include>

</launch>
