<launch>

  <arg name="aggregation_topic" default="Aggregator" />
  <arg name="aggregated_topic" default="Aggregated" />

  <!-- Set up the link startpoint and serializer for testing -->

  <include file="$(find teleop_launch)/launch/hybrid_link_start_chain.launch">
    <arg name="chain_name" value="jointstate" />
    <arg name="chain_type" value="sensor_msgs/JointState" />
    <arg name="input_topic" value="robot/joint_states" />
    <arg name="aggregation_topic" value="$(arg aggregation_topic)" />
  </include>

  <!-- Set up the message multiplexer -->

  <node pkg="teleop_mux_demux" type="message_multiplexer.py" name="multiplexer" output="screen" >
    <param name="aggregation_topic" type="string" value="$(arg aggregation_topic)" />
    <param name="aggregated_topic" type="string" value="$(arg aggregated_topic)" />
  </node>

  <!-- Set up the joint_states publisher and the robot_state_publisher -->

  <arg name="model" default="$(find hubo_description)/huboplus/huboplus.xml" />

  <param name="robot_description" textfile="$(arg model)" />
  <node name="hubo_joint_state_publisher" pkg="hubo_ach_ros_bridge" type="hubo_joint_state_publisher.py" output="screen" >
    <remap from="joint_states" to="robot/joint_states" />
    <remap from="tf" to="robot/tf" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
    <remap from="joint_states" to="robot/joint_states" />
    <remap from="tf" to="robot/tf" />
  </node>

</launch>
