<launch>

    <arg name="camera" default="kinect" />

    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="publish_tf" value="false" />
        <arg name="camera" value="$(arg camera)" />
    </include>

    <include file="$(find teleop_launch)/launch/teleop_kinect_frames.launch">
        <arg name="camera" value="$(arg camera)_robot" />
        <arg name="remapped_tf" value="robot/tf" />
    </include>

    <include file="$(find teleop_launch)/launch/teleop_kinect_frames.launch">
        <arg name="camera" value="$(arg camera)_workstation" />
        <arg name="remapped_tf" value="workstation/tf" />
    </include>

</launch>
