<launch>

  <arg name="aggregation_topic" default="Aggregator" />
  <arg name="aggregated_topic" default="Aggregated" />

  <!-- Set up the link startpoint and serializer for testing -->

  <include file="$(find teleop_launch)/launch/hybrid_link_start_chain.launch">
    <arg name="chain_name" value="test" />
    <arg name="chain_type" value="std_msgs/String" />
    <arg name="input_topic" value="test" />
    <arg name="aggregation_topic" value="$(arg aggregation_topic)" />
  </include>

  <!-- Set up the message multiplexer -->

  <node pkg="teleop_mux_demux" type="message_multiplexer.py" name="multiplexer" output="screen" >
    <param name="aggregation_topic" type="string" value="$(arg aggregation_topic)" />
    <param name="aggregated_topic" type="string" value="$(arg aggregated_topic)" />
  </node>

</launch>
