<launch>

  <arg name="device_id" default="#1" />
  <arg name="remapped_tf" default="/tf" />

  <include file="$(find datalink_launch)/launch/openni2_launch/openni2.launch" >
    <arg name="camera" value="rgbd_shortrange" />
    <arg name="publish_tf" value="false" />
    <arg name="device_id" value="$(arg device_id)" />
    <arg name="remapped_tf" value="$(arg remapped_tf)" />
  </include>

</launch>
