<!-- Entry point for using OpenNI devices -->
<launch>

  <arg name="longrange_device_id" default="#1" />
  <arg name="shortrange_device_id" default="#2" />

  <include file="$(find teleop_launch)/launch/openni2_launch/drchubo_longrange_rgbd.launch">
    <arg name="device_id" value="$(arg longrange_device_id)" />
  </include>

  <include file="$(find teleop_launch)/launch/openni2_launch/drchubo_shortrange_rgbd.launch">
    <arg name="device_id" value="$(arg shortrange_device_id)" />
  </include>

</launch>
