<launch>

  <arg name="rgbd_name" default="camera" />
  <arg name="output" default="screen" />
  <arg name="remapped_tf" default="/tf" />

  <arg name="node_name" default="$(arg rgbd_name)" />

  <include file="$(find datalink_launch)/launch/rgbd_pointcloud_link_start.launch" >
    <arg name="pointcloud_name" value="$(arg rgbd_name)" />
    <arg name="node_name" value="$(arg node_name)" />
    <arg name="output" value="$(arg output)" />
    <arg name="remapped_tf" value="$(arg remapped_tf)" />
  </include>

  <include file="$(find datalink_launch)/launch/rgbd_image_link_start.launch" >
    <arg name="image_name" value="$(arg rgbd_name)" />
    <arg name="node_name" value="$(arg node_name)" />
    <arg name="output" value="$(arg output)" />
    <arg name="remapped_tf" value="$(arg remapped_tf)" />
  </include>

</launch>
